Claro.SIACU.ProxyService.IFI/Service References/SIACU.OnBaseLoadDocumentIFI/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CargarDocumentoOnBase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auditRequest" type="tns:auditRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="idInterfazTCRM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listaDocumentos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametrosRequest" type="tns:parametrosRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="auditRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idTransaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ipAplicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreAplicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="parametrosRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ListaRequestOpcional" type="tns:ArrayOfObjetoRequestOpcional" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfObjetoRequestOpcional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="objetoRequestOpcional" nillable="true" type="tns:objetoRequestOpcional" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="objetoRequestOpcional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="campo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CargarDocumentoOnBaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarDocumentoOnBaseResult" type="tns:DocumentosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DocumentosResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idTransaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idInterfazTCRM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ipServerResponse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="listaDocumentos" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CargarDocumentoOnBaseSoapIn">
    <wsdl:part name="parameters" element="tns:CargarDocumentoOnBase" />
  </wsdl:message>
  <wsdl:message name="CargarDocumentoOnBaseSoapOut">
    <wsdl:part name="parameters" element="tns:CargarDocumentoOnBaseResponse" />
  </wsdl:message>
  <wsdl:portType name="svcOnBaseClaroCargaSoap">
    <wsdl:operation name="CargarDocumentoOnBase">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Carga de Documento a OnBase.</wsdl:documentation>
      <wsdl:input message="tns:CargarDocumentoOnBaseSoapIn" />
      <wsdl:output message="tns:CargarDocumentoOnBaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="svcOnBaseClaroCargaSoap" type="tns:svcOnBaseClaroCargaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarDocumentoOnBase">
      <soap:operation soapAction="http://tempuri.org/CargarDocumentoOnBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="svcOnBaseClaroCargaSoap12" type="tns:svcOnBaseClaroCargaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarDocumentoOnBase">
      <soap12:operation soapAction="http://tempuri.org/CargarDocumentoOnBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svcOnBaseClaroCarga">
    <wsdl:port name="svcOnBaseClaroCargaSoap" binding="tns:svcOnBaseClaroCargaSoap">
      <soap:address location="http://172.19.73.241/wsonbasecarga/svcOnBaseClaroCarga.asmx" />
    </wsdl:port>
    <wsdl:port name="svcOnBaseClaroCargaSoap12" binding="tns:svcOnBaseClaroCargaSoap12">
      <soap12:address location="http://172.19.73.241/wsonbasecarga/svcOnBaseClaroCarga.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>