Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetSendEmail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetSendEmail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd28" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="SendEmailRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttachedByte" nillable="true" type="xs:base64Binary" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lsAttached" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="strAttached" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strBCC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strCC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strJoinfile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strSender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strSubject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendEmailRequestCommon" nillable="true" type="tns:SendEmailRequestCommon" />
  <xs:complexType name="SendEmailResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendEmailResponseCommon" nillable="true" type="tns:SendEmailResponseCommon" />
</xs:schema>