Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService55.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.CheckingUser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.CheckingUser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="CheckingUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aplicacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AppCod" type="xs:long" />
          <xs:element minOccurs="0" name="IdTransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IpAplicacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckingUserRequest" nillable="true" type="tns:CheckingUserRequest" />
  <xs:complexType name="CheckingUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeErr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgErr" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="consultasSeguridad" nillable="true" type="q2:ArrayOfConsultSecurity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckingUserResponse" nillable="true" type="tns:CheckingUserResponse" />
</xs:schema>