Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService38.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetSchedule" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetSchedule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ScheduleRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vCommitmentDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vHistoryETA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vJobTypes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vSubJobTypes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vTimeZona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vUbigeo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vValidateETA" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduleRequest" nillable="true" type="tns:ScheduleRequest" />
</xs:schema>