Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetCaseLa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetCaseLa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="GetCaseLaRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strIdSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTransaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFlagReg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vfechafin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vfechaini" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCaseLaRequest" nillable="true" type="tns:GetCaseLaRequest" />
  <xs:complexType name="GetCaseLaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="rMsgText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vFlagConsulta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCaseLaResponse" nillable="true" type="tns:GetCaseLaResponse" />
</xs:schema>