Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetVerifyUser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetVerifyUser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="VerifyUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerifyUserRequest" nillable="true" type="tns:VerifyUserRequest" />
  <xs:complexType name="VerifyUserResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="LstConsultSecurities" nillable="true" type="q2:ArrayOfConsultSecurity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyUserResponse" nillable="true" type="tns:VerifyUserResponse" />
</xs:schema>