Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetInsertEvidence" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetInsertEvidence" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InsertEvidenceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="Evidence" nillable="true" type="q2:Evidence" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertEvidenceRequest" nillable="true" type="tns:InsertEvidenceRequest" />
  <xs:complexType name="InsertEvidenceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolResult" type="xs:boolean" />
      <xs:element minOccurs="0" name="StrFlagInsertion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrMsgText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertEvidenceResponse" nillable="true" type="tns:InsertEvidenceResponse" />
</xs:schema>