Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService50.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetDatTempInteraction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetDatTempInteraction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="DatTempInteractionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vInteraccionID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DatTempInteractionRequest" nillable="true" type="tns:DatTempInteractionRequest" />
  <xs:complexType name="DatTempInteractionResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="InteractionTemplate" nillable="true" type="q2:InteractionTemplate" />
      <xs:element minOccurs="0" name="vFLAG_CONSULTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vMSG_TEXT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatTempInteractionResponse" nillable="true" type="tns:DatTempInteractionResponse" />
</xs:schema>