Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="GetClientRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strContactobjid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="straccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strflagreg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strphone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetClientRequestCommon" nillable="true" type="tns:GetClientRequestCommon" />
  <xs:complexType name="GetClientResponseComon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flagquery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgText" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="listClient" nillable="true" type="q2:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetClientResponseComon" nillable="true" type="tns:GetClientResponseComon" />
</xs:schema>