Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetSendEmailWithBase64" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetSendEmailWithBase64" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="SendEmailWithBase64Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="HtmlFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ListAttachedFile" nillable="true" type="tns:ArrayOfAttachedFile" />
          <xs:element minOccurs="0" name="ListParameters" nillable="true" type="tns:ArrayOfParameterComplexType" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendEmailWithBase64Request" nillable="true" type="tns:SendEmailWithBase64Request" />
  <xs:complexType name="ArrayOfAttachedFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachedFile" nillable="true" type="tns:AttachedFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachedFile" nillable="true" type="tns:ArrayOfAttachedFile" />
  <xs:complexType name="AttachedFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeadBoard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachedFile" nillable="true" type="tns:AttachedFile" />
  <xs:complexType name="ArrayOfParameterComplexType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParameterComplexType" nillable="true" type="tns:ParameterComplexType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameterComplexType" nillable="true" type="tns:ArrayOfParameterComplexType" />
  <xs:complexType name="ParameterComplexType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterComplexType" nillable="true" type="tns:ParameterComplexType" />
  <xs:complexType name="SendEmailWithBase64Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendEmailWithBase64Response" nillable="true" type="tns:SendEmailWithBase64Response" />
</xs:schema>