Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService155.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetNumberSMS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetNumberSMS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="NumberSMSRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strCustomerCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NumberSMSRequest" nillable="true" type="tns:NumberSMSRequest" />
  <xs:complexType name="NumberSMSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroSMS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NumberSMSResponse" nillable="true" type="tns:NumberSMSResponse" />
</xs:schema>