Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetBusinessInteraction2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetBusinessInteraction2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="BusinessInteraction2RequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="Item" nillable="true" type="q2:Iteraction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessInteraction2RequestCommon" nillable="true" type="tns:BusinessInteraction2RequestCommon" />
  <xs:complexType name="BusinessInteraction2ResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlagInsertion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InteractionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessOK" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessInteraction2ResponseCommon" nillable="true" type="tns:BusinessInteraction2ResponseCommon" />
</xs:schema>