Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService56.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetEvaluateAmount" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetEvaluateAmount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="EvaluateAmountRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrIdSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VListaPerfil" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VModalidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VMonto" type="xs:double" />
          <xs:element minOccurs="0" name="VTipoTelefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VUnidad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EvaluateAmountRequest" nillable="true" type="tns:EvaluateAmountRequest" />
  <xs:complexType name="EvaluateAmountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Resultado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EvaluateAmountResponse" nillable="true" type="tns:EvaluateAmountResponse" />
</xs:schema>