Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GeneratePDF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GeneratePDF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="GeneratePDFDataRequestHfc">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="ArrListaInfo" nillable="true" type="q2:ArrayOfServiceArmaPlan" />
          <xs:element minOccurs="0" name="StrAccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrAccionRetencion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrAplicaCambioDireccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrAplicaCambioNombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrAplicaEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrAplicaOtroContacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrAplicaProgramacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrBolsaSolesAdicionales" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCanalAtencion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCantidadCc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCantidadTotalCanjeDev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCarpetaPDFs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCarpetaTransaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCasoInter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCategoriaFact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCentroAtencionArea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCentroPobladoActual" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCentroPobladoDestino" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCfServicioCom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCfServicioModif" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCfTotalNuevo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCicloFacturacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodDesbloqueo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodigoLocalA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodigoLocalB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrContactoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrContactoOtro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCostoReactivacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCostoTransaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCuentaPostpago" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDepartamentoLocalB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDepartamentoPostal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDescProductoCc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDescripTransaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDescripcionServicioCom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDescuentoCc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDireccionPostal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDireccionPostalC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDistritoPostal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDistrtitoLocalB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEscenarioMigracion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEscenarioRetencion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEscenarioServicioCom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEstadoServicio4G" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaActivacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaDesdeAjuste" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaEjecTopeCons" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaEjecucion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaEmisionDocFact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaEmisionDocRef" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaHastaAjuste" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaPlazo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaSuspension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaTransaccionProgram" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFechaVencDocFact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFlag4G" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFlagExterInter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFlagGrilaAtp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFlagPlantillaPlazo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFlagPosicionIgv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIdProductoCc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIgvTax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrImei" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrImporteConceptoAjusteSinIgv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMarcaEquipo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrModalidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrModeloEquipo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMontSolicitad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMontoApadece" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMontoPcs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMontoRecargaCc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMotivoCambioSim" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMotivoCancelacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMotivoPariente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMotivoTipoBloqueo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNombreAgenteUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNombreArchivoTransaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNotas" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNroDocContactoOtro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNroDocFact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNroDocIdentidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNroDocIdentidadRef" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNroDocRepLegal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNroServicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNroServicio2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNuevoPlan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNuevoSim" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrPaisA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrPaisB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrPeriodoCuotaServicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrPlanActual" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrPlazo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrProductos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrProvinciaLocalB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrProvinciaPostal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrPuntosCc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrPuntosCcAntesTrans" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrReferenciaActual" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrReferenciaDestino" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrRepresLegal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrSecuencialOrden" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrServidorGenerarPDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrServidorLeerPDF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrSim4GLte" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrSubcategoriaFact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrSubcategoriaFactSinIgv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrSubtotalAjusteSinIgv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTelfOtroContacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTelfReferencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTipoDocFact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTipoDocIdentidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTipoPremioCc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTitularCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTopeConsumo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTotalAjuste" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTotalConIgv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTransaccionBloqueo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeneratePDFDataRequestHfc" nillable="true" type="tns:GeneratePDFDataRequestHfc" />
  <xs:complexType name="GeneratePDFDataResponseHfc">
    <xs:sequence>
      <xs:element minOccurs="0" name="EngineMessage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Generated" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneratePDFDataResponseHfc" nillable="true" type="tns:GeneratePDFDataResponseHfc" />
</xs:schema>