Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetEmployerDate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetEmployerDate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="GetEmployerDateRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strCurrentUser" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEmployerDateRequestCommon" nillable="true" type="tns:GetEmployerDateRequestCommon" />
  <xs:complexType name="GetEmployerDateResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="strApMat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strApPat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCodeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCodeArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCodeBoss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCodeCargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDesAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDesArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDesBoss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDesCargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNomb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strlogin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEmployerDateResponseCommon" nillable="true" type="tns:GetEmployerDateResponseCommon" />
</xs:schema>