Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetUpdateInter30" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetUpdateInter30" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="UpdatexInter30Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="p_objid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_texto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdatexInter30Request" nillable="true" type="tns:UpdatexInter30Request" />
  <xs:complexType name="UpdatexInter30Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="rFlagInsercion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rMsgText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdatexInter30Response" nillable="true" type="tns:UpdatexInter30Response" />
</xs:schema>