Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetInsertInteract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetInsertInteract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InsertInteractRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="item" nillable="true" type="q2:Iteraction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertInteractRequestCommon" nillable="true" type="tns:InsertInteractRequestCommon" />
  <xs:complexType name="InsertInteractResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlagInsercion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interactionid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcesSucess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertInteractResponseCommon" nillable="true" type="tns:InsertInteractResponseCommon" />
</xs:schema>