Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService202.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetQueuesCase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetQueuesCase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="QueuesCaseRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Des_Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Flag_Buscar" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubClase" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strIdSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTransaccion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueuesCaseRequest" nillable="true" type="tns:QueuesCaseRequest" />
  <xs:complexType name="QueuesCaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desc_Error" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="ListQueues" nillable="true" type="q2:ArrayOfQueuesCase" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="Queues" nillable="true" type="q3:QueuesCase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueuesCaseResponse" nillable="true" type="tns:QueuesCaseResponse" />
</xs:schema>