Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetFileDefaultImpersonation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetFileDefaultImpersonation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="FileDefaultImpersonationRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strPath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileDefaultImpersonationRequestCommon" nillable="true" type="tns:FileDefaultImpersonationRequestCommon" />
  <xs:complexType name="FileDefaultImpersonationResponseCommon">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="objGlobalDocument" nillable="true" type="q2:GlobalDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDefaultImpersonationResponseCommon" nillable="true" type="tns:FileDefaultImpersonationResponseCommon" />
</xs:schema>