Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetParameterData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetParameterData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="ParameterDataRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParameterDataRequestCommon" nillable="true" type="tns:ParameterDataRequestCommon" />
  <xs:complexType name="ParameterDataResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="Parameter" nillable="true" type="q2:ParameterData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterDataResponseCommon" nillable="true" type="tns:ParameterDataResponseCommon" />
</xs:schema>