Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetInsertLogTrx" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetInsertLogTrx" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InsertLogTrxRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Accion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Aplicacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IPPCClient" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IPServer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdInteraction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdTypification" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InputParameters" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameServer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Opcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutpuParameters" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PCClient" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Transaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertLogTrxRequestCommon" nillable="true" type="tns:InsertLogTrxRequestCommon" />
  <xs:complexType name="InsertLogTrxResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagInsertion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertLogTrxResponseCommon" nillable="true" type="tns:InsertLogTrxResponseCommon" />
</xs:schema>