Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService37.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetValidateCommunication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetValidateCommunication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ValidateCommunicationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Sequence" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidateCommunicationRequest" nillable="true" type="tns:ValidateCommunicationRequest" />
  <xs:complexType name="ValidateCommunicationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Availability" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JsonString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultValCommunication" type="xs:boolean" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateCommunicationResponse" nillable="true" type="tns:ValidateCommunicationResponse" />
</xs:schema>