Claro.SIACU.Web.WebApplication.IFI/Service References/CommonIFIService/CommonIFIService46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetTypification" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetTypification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/CommonIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="TypificationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="TRANSACTION_NAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TypificationRequest" nillable="true" type="tns:TypificationRequest" />
  <xs:complexType name="TypificationResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="ListTypification" nillable="true" type="q2:ArrayOfTypification" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="ObjTypification" nillable="true" type="q3:Typification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypificationResponse" nillable="true" type="tns:TypificationResponse" />
</xs:schema>