Claro.SIACU.ProxyService.IFI/Service References/SIACU.GestionAcuerdoIFI/GestionAcuerdoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://claro.com.pe/eai/ws/postventa/gestionacuerdo" xmlns:types="http://claro.com.pe/eai/ws/postventa/gestionacuerdo/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="GestionAcuerdoWS" targetNamespace="http://claro.com.pe/eai/ws/postventa/gestionacuerdo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/gestionacuerdo" />
    <xsd:schema>
      <xsd:import schemaLocation="http://limdeseaiv28.tim.com.pe:8909/GestionAcuerdoWS/ebsGestionAcuerdoSB11?xsd=2" namespace="http://claro.com.pe/eai/ws/postventa/gestionacuerdo/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="obtenerReintegroEquipoRequestMsg">
    <wsdl:part name="request" element="types:obtenerReintegroEquipoRequest" />
  </wsdl:message>
  <wsdl:message name="obtenerReintegroEquipoResponseMsg">
    <wsdl:part name="response" element="types:obtenerReintegroEquipoResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerConsultaAcuerdoRequestMsg">
    <wsdl:part name="request" element="types:obtenerConsultaAcuerdoRequest" />
  </wsdl:message>
  <wsdl:message name="obtenerConsultaAcuerdoResponseMsg">
    <wsdl:part name="response" element="types:obtenerConsultaAcuerdoResponse" />
  </wsdl:message>
  <wsdl:portType name="GestionAcuerdoWSPortType">
    <wsdl:operation name="obtenerReintegroEquipo">
      <wsdl:input message="tns:obtenerReintegroEquipoRequestMsg" />
      <wsdl:output message="tns:obtenerReintegroEquipoResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="obtenerConsultaAcuerdo">
      <wsdl:input message="tns:obtenerConsultaAcuerdoRequestMsg" />
      <wsdl:output message="tns:obtenerConsultaAcuerdoResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionAcuerdoWSPortTypeSOAP11Binding" type="tns:GestionAcuerdoWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerReintegroEquipo">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/gestionacuerdo/obtenerReintegroEquipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerConsultaAcuerdo">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/gestionacuerdo/obtenerConsultaAcuerdo" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GestionAcuerdoWSPortTypeSOAP12Binding" type="tns:GestionAcuerdoWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerReintegroEquipo">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/gestionacuerdo/obtenerReintegroEquipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerConsultaAcuerdo">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/gestionacuerdo/obtenerConsultaAcuerdo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionAcuerdoWSService">
    <wsdl:port name="ebsGestionAcuerdoSB11" binding="tns:GestionAcuerdoWSPortTypeSOAP11Binding">
      <soap:address location="http://limdeseaiv28.tim.com.pe:8909/GestionAcuerdoWS/ebsGestionAcuerdoSB11" />
    </wsdl:port>
    <wsdl:port name="ebsGestionAcuerdoSB12" binding="tns:GestionAcuerdoWSPortTypeSOAP12Binding">
      <soap:address location="http://limdeseaiv28.tim.com.pe:8909/GestionAcuerdoWS/ebsGestionAcuerdoSB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>