Claro.SIACU.ProxyService.IFI/Web References/SIACU.EnvioCorreoSB/EnvioCorreoSB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/util/enviocorreo/types" xmlns:base="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/util/enviocorreo/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="enviarCorreoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="AuditTypeRequest" />
        <xsd:element name="remitente" type="xsd:string" />
        <xsd:element name="destinatario" type="xsd:string" />
        <xsd:element name="asunto" type="xsd:string" />
        <xsd:element name="mensaje" type="xsd:string" />
        <xsd:element name="htmlFlag" type="xsd:string" />
        <xsd:element name="listaArchivosAdjuntos" type="ListaArchivosAdjuntos" />
        <xsd:element name="parametrosOpcionalesRequest" type="ParametrosOpcionalesType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="enviarCorreoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="AuditTypeResponse" />
        <xsd:element name="parametrosOpcionalesResponse" type="ParametrosOpcionalesType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AuditTypeRequest">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="codigoAplicacion" type="xsd:string" />
      <xsd:element name="ipAplicacion" type="xsd:string" />
      <xsd:element name="usrAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditTypeResponse">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParametrosOpcionalesType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ParametroComplexType" type="ParametroOpcionalComplexType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParametroOpcionalComplexType">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:string" />
      <xsd:element name="valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArchivoAdjunto">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element name="cabecera" type="xsd:string" />
      <xsd:element name="archivo" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaArchivosAdjuntos">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="archivoAdjunto" type="ArchivoAdjunto" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>