Claro.SIACU.ProxyService.IFI/Web References/SIACU.DigitalSignature/EXP_FirmaDigital.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/esb/data/ventas/prsfirmadigital/types" xmlns:base="http://claro.com.pe/esb/data/generico/baseschema/v1/" xmlns:tns="http://claro.com.pe/esb/data/ventas/prsfirmadigital/types" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/ventas/prsfirmadigital/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://172.17.26.51:21000/PRS_FirmaDigital/SRV_PRS_FirmaDigital/Service/Exposition/EXP_FirmaDigital?SCHEMA%2FPRS_FirmaDigital%2FSRV_PRS_FirmaDigital%2FResources%2FXSD%2FBaseSchema" namespace="http://claro.com.pe/esb/data/generico/baseschema/v1/" />
  <xsd:complexType name="DatosFirmarDocumentoRequest">
    <xsd:sequence>
      <xsd:element name="codigoPDV" type="xsd:string" />
      <xsd:element name="nombrePDV" type="xsd:string" />
      <xsd:element name="tipoFirma" type="xsd:string" />
      <xsd:element name="tipoArchivo" type="xsd:string" />
      <xsd:element name="negocio" type="xsd:string" />
      <xsd:element name="tipoContrato" type="xsd:string" />
      <xsd:element name="datFirma" type="xsd:string" />
      <xsd:element name="origenArchivo" type="xsd:string" />
      <xsd:element name="codigoAplicacion" type="xsd:string" />
      <xsd:element name="posFirma" type="xsd:string" />
      <xsd:element name="nombreArchivo" type="xsd:string" />
      <xsd:element name="ipAplicacion" type="xsd:string" />
      <xsd:element name="numeroArchivo" type="xsd:string" />
      <xsd:element name="segmentoOferta" type="xsd:string" />
      <xsd:element name="plantillaBRMS" type="xsd:string" />
      <xsd:element name="tipoOperacion" type="xsd:string" />
      <xsd:element name="tipoDocumento" type="xsd:string" />
      <xsd:element name="numeroDocumento" type="xsd:string" />
      <xsd:element name="contenidoArchivo" type="xsd:string" />
      <xsd:element name="rutaArchivoDestino" type="xsd:string" />
      <xsd:element name="rutaArchivoOrigen" type="xsd:string" />
      <xsd:element name="canalAtencion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosFirmarDocumentoResponse">
    <xsd:sequence>
      <xsd:element name="rutaArchivo" type="xsd:string" />
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="fechaInicio" type="xsd:string" />
      <xsd:element name="fechaFin" type="xsd:string" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="mensajeRespuesta" type="xsd:string" />
      <xsd:element name="descripcionRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseDataFirmarDocumento">
    <xsd:sequence>
      <xsd:element name="datosFirmarDocumentoResponse" type="tns:DatosFirmarDocumentoResponse" />
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:ResponseOpcionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="firmarDocumentoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="datosFirmarDocumentoRequest" type="tns:DatosFirmarDocumentoRequest" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:RequestOpcionalType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="firmarDocumentoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseStatus" type="base:responseStatus" />
        <xsd:element name="responseData" type="tns:ResponseDataFirmarDocumento" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>