Claro.SIACU.ProxyService.IFI/Web References/SIACU.DigitalSignature/PRS_FirmaDigital_v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:WL5G3N2="http://claro.com.pe/esb/data/ventas/prsfirmadigital/types" xmlns:WL5G3N4="http://claro.com.pe/esb/ventas/prsfirmadigital/v1/" name="PRS_FirmaDigital_v1" targetNamespace="http://claro.com.pe/esb/ventas/prsfirmadigital/v1/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:cf="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://claro.com.pe/esb/ventas/prsfirmadigital/v1/" xmlns:he="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:types="http://claro.com.pe/esb/data/ventas/prsfirmadigital/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.17.26.51:21000/PRS_FirmaDigital/SRV_PRS_FirmaDigital/Service/Exposition/EXP_FirmaDigital?SCHEMA%2FPRS_FirmaDigital%2FSRV_PRS_FirmaDigital%2FResources%2FXSD%2FfirmarDocumento_v1" namespace="http://claro.com.pe/esb/data/ventas/prsfirmadigital/types" />
      <xsd:import schemaLocation="http://172.17.26.51:21000/PRS_FirmaDigital/SRV_PRS_FirmaDigital/Service/Exposition/EXP_FirmaDigital?SCHEMA%2FPRS_FirmaDigital%2FSRV_PRS_FirmaDigital%2FResources%2FXSD%2FClaroFault_v1" namespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" />
      <xsd:import schemaLocation="http://172.17.26.51:21000/PRS_FirmaDigital/SRV_PRS_FirmaDigital/Service/Exposition/EXP_FirmaDigital?SCHEMA%2FPRS_FirmaDigital%2FSRV_PRS_FirmaDigital%2FResources%2FXSD%2FClaroGenericHeaders_v1" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="headerRequest">
    <WL5G3N0:part name="headerRequest" element="WL5G3N1:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponse">
    <WL5G3N0:part name="headerResponse" element="WL5G3N1:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="firmarDocumentoRequestMessage">
    <WL5G3N0:part name="firmarDocumentoRequest" element="WL5G3N2:firmarDocumentoRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="firmarDocumentoResponseMessage">
    <WL5G3N0:part name="firmarDocumentoResponse" element="WL5G3N2:firmarDocumentoResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N3:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="PRS_FirmaDigitalPort">
    <WL5G3N0:operation name="firmarDocumento">
      <WL5G3N0:input message="WL5G3N4:firmarDocumentoRequestMessage" />
      <WL5G3N0:output message="WL5G3N4:firmarDocumentoResponseMessage" />
      <WL5G3N0:fault name="claroFault" message="WL5G3N4:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="PRS_FirmaDigitalSOAP11Binding" type="WL5G3N4:PRS_FirmaDigitalPort">
    <WL5G3N5:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="firmarDocumento">
      <WL5G3N5:operation soapAction="http://claro.com.pe/esb/ventas/prsfirmadigital/v1/firmarDocumento" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="firmarDocumentoRequest" />
        <WL5G3N5:header message="WL5G3N4:headerRequest" part="headerRequest" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="firmarDocumentoResponse" />
        <WL5G3N5:header message="WL5G3N4:headerResponse" part="headerResponse" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="claroFault">
        <WL5G3N5:fault use="literal" name="claroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="PRS_FirmaDigital_WS">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="PRS_FirmaDigitalSB11" binding="WL5G3N4:PRS_FirmaDigitalSOAP11Binding">
      <WL5G3N5:address location="http://172.17.26.51:21000/PRS_FirmaDigital/SRV_PRS_FirmaDigital/Service/Exposition/EXP_FirmaDigital" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>