Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService215.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.UnlockService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.UnlockService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetDataPower" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.IsOkGetKey" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="UnlockServiceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeaderRequest" />
          <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.IsOkGetKey" minOccurs="0" name="objIsOkGetKeyRequest" nillable="true" type="q3:IsOkGetKeyRequestCommon" />
          <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strPass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ticklerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ticklerDes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnlockServiceRequest" nillable="true" type="tns:UnlockServiceRequest" />
  <xs:complexType name="UnlockServiceResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetDataPower" minOccurs="0" name="Headers" nillable="true" type="q4:HeadersResponse" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common.GetDataPower" minOccurs="0" name="ResponseStatus" nillable="true" type="q5:ResponseStatus" />
      <xs:element minOccurs="0" name="resul" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnlockServiceResponse" nillable="true" type="tns:UnlockServiceResponse" />
</xs:schema>