Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNTNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodPlanTariff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateStatus" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DolDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpDate_Line" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpDate_Select" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDateBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagLoadDataLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagPlatform" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCNTPossible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSelect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTFI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinuteBalance_Select" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumFamFriends" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumICCID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumIMSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutstandingBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUK1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUK2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusIMSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriberStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffChangesFree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TriacionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TriosChanguesFree" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Line" nillable="true" type="tns:Line" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASESOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CALLE_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CALLE_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANT_REG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CICLO_FACTURACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CIUDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_CNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIPO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONSULTOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACTO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRATO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY_DES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREDIT_SCORE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTEMENTO_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTEMENTO_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPOSITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRECCION_DESPACHO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOMICILIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CIVIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CIVIL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CONTRATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_ACT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_NAC" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FLAG_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_REGISTRADO" type="xs:int" />
      <xs:element minOccurs="0" name="FORMA_PAGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERACT2CONTACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIMITE_CREDITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LONG_NRO_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LUGAR_NACIMIENTO_DES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LUGAR_NACIMIENTO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODALIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOTIVO_REGISTRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NACIONALIDAD" type="xs:long" />
      <xs:element minOccurs="0" name="NACIONALIDAD_ID" type="xs:long" />
      <xs:element minOccurs="0" name="NICHO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_COMERCIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_COMPLETO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_INTERACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OCUPACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAIS_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAIS_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUNTO_VENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_FLAG_CONSULTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_MSG_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAZON_SOCIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPRESENTANTE_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSABLE_PAGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROL_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEGMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEGMENTO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_NOMBRES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEF_REFERENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEXTO_NOTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_CUENTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_LINEAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URBANIZACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URBANIZACION_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URBANIZACION_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USU_ASEG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Line" nillable="true" type="tns:Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLine" nillable="true" type="tns:ArrayOfLine" />
  <xs:complexType name="ArrayOfBillingCycle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingCycle" nillable="true" type="tns:BillingCycle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingCycle" nillable="true" type="tns:ArrayOfBillingCycle" />
  <xs:complexType name="BillingCycle">
    <xs:sequence>
      <xs:element minOccurs="0" name="strBicicle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTypeCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strValidForm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingCycle" nillable="true" type="tns:BillingCycle" />
</xs:schema>