Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetBillingCycle" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetBillingCycle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="BillingCycleRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strTypeCustomer" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BillingCycleRequest" nillable="true" type="tns:BillingCycleRequest" />
  <xs:complexType name="BillingCycleResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="LstBillingCycleResponse" nillable="true" type="q2:ArrayOfBillingCycle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingCycleResponse" nillable="true" type="tns:BillingCycleResponse" />
</xs:schema>