Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetTestSecurity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetTestSecurity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid" />
  <xs:complexType name="TestSecurityIFIRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strGroupCustomer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTypeCustomer" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestSecurityIFIRequest" nillable="true" type="tns:TestSecurityIFIRequest" />
  <xs:complexType name="TestSecurityIFIResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid" minOccurs="0" name="lstTestSecurity" nillable="true" type="q2:ArrayOfTestSecurity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestSecurityIFIResponse" nillable="true" type="tns:TestSecurityIFIResponse" />
</xs:schema>