Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGenericItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericItem" nillable="true" type="tns:GenericItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenericItem" nillable="true" type="tns:ArrayOfGenericItem" />
  <xs:complexType name="GenericItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agrupador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_tipo_servicio" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_C" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericItem" nillable="true" type="tns:GenericItem" />
</xs:schema>