Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetClientDataAdd" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetClientDataAdd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="ClientDataAddRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strIdSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTransaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFLAG_CONSULTA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFlagModo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vInteraccionID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vMSG_TEXT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="v_ContactId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientDataAddRequest" nillable="true" type="tns:ClientDataAddRequest" />
  <xs:complexType name="ClientDataAddResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="Cliente" nillable="true" type="q2:Client" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDataAddResponse" nillable="true" type="tns:ClientDataAddResponse" />
</xs:schema>