Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService211.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.CurrentLock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.CurrentLock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid" />
  <xs:complexType name="CurrentLockRequestIFI">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="codId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurrentLockRequestIFI" nillable="true" type="tns:CurrentLockRequestIFI" />
  <xs:complexType name="CurrentLockResponseIFI">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid" minOccurs="0" name="lstAnnotation" nillable="true" type="q2:ArrayOfAnnotation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrentLockResponseIFI" nillable="true" type="tns:CurrentLockResponseIFI" />
</xs:schema>