Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetSaveChangeMinorClientDataAdd" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetSaveChangeMinorClientDataAdd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="SaveChangeMinorClientDataAddRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="objCliente" nillable="true" type="q2:Client" />
          <xs:element minOccurs="0" name="strSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTransaction" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveChangeMinorClientDataAddRequest" nillable="true" type="tns:SaveChangeMinorClientDataAddRequest" />
  <xs:complexType name="SaveChangeMinorClientDataAddResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="StrResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intTeractionid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strFlaginsercion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strMessageUpdate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveChangeMinorClientDataAddResponse" nillable="true" type="tns:SaveChangeMinorClientDataAddResponse" />
</xs:schema>