Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetSaveChangePostalAddress" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetSaveChangePostalAddress" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="SaveChangePostalAddressRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="objCliente" nillable="true" type="q2:Client" />
          <xs:element minOccurs="0" name="strSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTransaction" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveChangePostalAddressRequest" nillable="true" type="tns:SaveChangePostalAddressRequest" />
  <xs:complexType name="SaveChangePostalAddressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="StrResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveChangePostalAddressResponse" nillable="true" type="tns:SaveChangePostalAddressResponse" />
</xs:schema>