Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService2112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.DeleteLockLine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.DeleteLockLine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="DeleteLockLineRequestIFI">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid" minOccurs="0" name="objLock" nillable="true" type="q2:Lock" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteLockLineRequestIFI" nillable="true" type="tns:DeleteLockLineRequestIFI" />
  <xs:complexType name="DeleteLockLineResponseIFI">
    <xs:sequence>
      <xs:element minOccurs="0" name="rFlagDelete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rMsgText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resul" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteLockLineResponseIFI" nillable="true" type="tns:DeleteLockLineResponseIFI" />
</xs:schema>