Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService222.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetPlans" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetPlans" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid" />
  <xs:complexType name="PlansRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strFlagEjecution" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strMap" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strOffer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strOffice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strOfficeDefault" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strProductType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlansRequest" nillable="true" type="tns:PlansRequest" />
  <xs:complexType name="PlansResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid" minOccurs="0" name="lstPlan" nillable="true" type="q2:ArrayOfProductPlanIFI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlansResponse" nillable="true" type="tns:PlansResponse" />
</xs:schema>