Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetLinesTelephone" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetLinesTelephone" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:complexType name="GetLinesTelephoneIFIRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strTelephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCUSTOMER_ID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLinesTelephoneIFIRequest" nillable="true" type="tns:GetLinesTelephoneIFIRequest" />
  <xs:complexType name="GetLinesTelephoneIFIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="blResult" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="lstLine" nillable="true" type="q2:ArrayOfLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLinesTelephoneIFIResponse" nillable="true" type="tns:GetLinesTelephoneIFIResponse" />
</xs:schema>