Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetSaveChangeServiceAddress" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetSaveChangeServiceAddress" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="registrarDireccionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DNI_RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="agente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="claseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="claseDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagCobro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreSubDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUrbanizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreZonaEtapa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSubDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseStatus" nillable="true" type="tns:responseStatus" />
      <xs:element minOccurs="0" name="strApellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCacDac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCodPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strContactoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDepartamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strObjidContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTelefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strfullNameUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subClaseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subClaseDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDomicilio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoSubDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUrbanizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zonaEtapa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="registrarDireccionRequest" nillable="true" type="tns:registrarDireccionRequest" />
  <xs:complexType name="responseStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacionError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseStatus" nillable="true" type="tns:responseStatus" />
  <xs:complexType name="registrarDireccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="responseStatus" nillable="true" type="tns:responseStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="registrarDireccionResponse" nillable="true" type="tns:registrarDireccionResponse" />
</xs:schema>