Claro.SIACU.Web.WebApplication.IFI/Service References/PostIFIService/PostIFIService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetStatedebt" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetStatedebt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/PostIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="GetStatedebtIFIRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strCustomerCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetStatedebtIFIRequest" nillable="true" type="tns:GetStatedebtIFIRequest" />
  <xs:complexType name="GetStatedebtIFIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="blResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStatedebtIFIResponse" nillable="true" type="tns:GetStatedebtIFIResponse" />
</xs:schema>