Claro.SIACU.ProxyService.IFI/Service References/TransaccionesInternetLTEWS/ebstransaccionesinternetlteSB111.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/baseschema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="auditRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="auditResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codigoRespuesta" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseStatusType">
    <xsd:sequence>
      <xsd:element name="responseStatus" type="ResponseStatus" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseStatus">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:int" />
      <xsd:element name="codeResponse" type="xsd:string" />
      <xsd:element name="descriptionResponse" type="xsd:string" />
      <xsd:element name="errorLocation" type="xsd:string" />
      <xsd:element name="date" type="xsd:dateTime" />
      <xsd:element name="origin" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AttributeValuePair">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaRequestOpcional">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="objetoRequestOpcional" type="AttributeValuePair" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaResponseOpcional">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="objetoResponseOpcional" type="AttributeValuePair" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>