Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetMotiveSOTByTypeJob" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetMotiveSOTByTypeJob" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:complexType name="MotiveSOTByTypeJobRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="tipTra" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MotiveSOTByTypeJobRequest" nillable="true" type="tns:MotiveSOTByTypeJobRequest" />
  <xs:complexType name="MotiveSOTByTypeJobResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="List" nillable="true" type="q2:ArrayOfGenericItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MotiveSOTByTypeJobResponse" nillable="true" type="tns:MotiveSOTByTypeJobResponse" />
</xs:schema>