Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetUpdateInter29" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetUpdateInter29" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="UpdateInter29Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="p_objid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_orden" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_texto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateInter29Request" nillable="true" type="tns:UpdateInter29Request" />
  <xs:complexType name="UpdateInter29Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="rFlagInsercion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rMsgText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateInter29Response" nillable="true" type="tns:UpdateInter29Response" />
</xs:schema>