Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService1714.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetDataPower" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Postpaid.GetDataPower" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HeaderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="consumer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dispositivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="system" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wsIp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderRequest" nillable="true" type="tns:HeaderRequest" />
</xs:schema>