Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.ETAFlowValidate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.ETAFlowValidate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:complexType name="ETAFlowRequestHfc">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="an_tipsrv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="an_tiptra" type="xs:int" />
          <xs:element minOccurs="0" name="as_origen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="av_idplano" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="av_ubigeo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ETAFlowRequestHfc" nillable="true" type="tns:ETAFlowRequestHfc" />
  <xs:complexType name="ETAFlowResponseHfc">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="ETAFlow" nillable="true" type="q2:ETAFlow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ETAFlowResponseHfc" nillable="true" type="tns:ETAFlowResponseHfc" />
</xs:schema>