Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Iteraction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APELLIDO_AGENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASE_CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ES_TFI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_CREACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_CASO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HECHO_EN_UNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_CASO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_INTERACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INCONVENIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSERTADO_POR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="METODO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_AGENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="START_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBCLASE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBCLASE_CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPIFICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_INTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO_PROCESO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Iteraction" nillable="true" type="tns:Iteraction" />
  <xs:complexType name="InsertTemplateInteraction">
    <xs:sequence>
      <xs:element minOccurs="0" name="_ACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_ID_INTERACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_MSISDN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_NOMBRE_TRANSACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_NRO_DIAS" type="xs:int" />
      <xs:element minOccurs="0" name="_NRO_TARJETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_NRO_TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_P_OLD_ID_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_P_USUARIO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_SESSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Script_IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_TICKET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_TIENE_DATOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ADDRESS5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ADJUSTMENT_AMOUNT" type="xs:double" />
      <xs:element minOccurs="0" name="_X_ADJUSTMENT_REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_AMOUNT_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_BASKET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_BIRTHDAY" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_X_CHARGE_AMOUNT" type="xs:double" />
      <xs:element minOccurs="0" name="_X_CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARIFY_INTERACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_LDN1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_LDN2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_LDN3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_LDN4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CONTACT_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CONTACT_SEX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_DEPARTMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_DISTRICT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_DNI_LEGAL_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_DOCUMENT_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_EMAIL_CONFIRMATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_EXPIRE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_X_FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FIXED_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_CHANGE_USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_LEGAL_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_OTHER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_REGISTERED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_TITULAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ICCID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_10" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_11" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_12" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_13" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_14" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_17" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_18" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_19" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_21" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_22" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_23" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_24" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_25" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_26" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_27" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_28" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_29" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_30" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_8" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_9" type="xs:double" />
      <xs:element minOccurs="0" name="_X_LASTNAME_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_LDI_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_LOT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_MARITAL_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_MODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_MONTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_NAME_LEGAL_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_NRO_INTERACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OCCUPATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLARO_LDN1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLARO_LDN2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLARO_LDN3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLARO_LDN4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_DOC_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_FIXED_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_FIXED_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_LDI_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OPERATION_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OST_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OTHER_DOC_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OTHER_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OTHER_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OTHER_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_PHONE_LEGAL_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_PLUS_INTER2INTERACT" type="xs:double" />
      <xs:element minOccurs="0" name="_X_POSITION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_RECHARGE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_X_REFERENCE_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_REFERENCE_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_REGISTRATION_REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_TRIO_ANTIGUO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_TYPE_DOCUMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertTemplateInteraction" nillable="true" type="tns:InsertTemplateInteraction" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASESOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CALLE_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CALLE_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANT_REG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CICLO_FACTURACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CIUDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_CNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIPO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONSULTOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACTO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRATO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY_DES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREDIT_SCORE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTEMENTO_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTEMENTO_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPOSITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRECCION_DESPACHO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOMICILIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CIVIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CIVIL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CONTRATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_ACT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_NAC" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FLAG_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_REGISTRADO" type="xs:int" />
      <xs:element minOccurs="0" name="FORMA_PAGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INTERACT2CONTACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIMITE_CREDITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LONG_NRO_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LUGAR_NACIMIENTO_DES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LUGAR_NACIMIENTO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODALIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOTIVO_REGISTRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NACIONALIDAD" type="xs:long" />
      <xs:element minOccurs="0" name="NACIONALIDAD_ID" type="xs:long" />
      <xs:element minOccurs="0" name="NICHO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_COMERCIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_COMPLETO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_INTERACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OCUPACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAIS_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAIS_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUNTO_VENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_FLAG_CONSULTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_MSG_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAZON_SOCIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPRESENTANTE_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSABLE_PAGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROL_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEGMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEGMENTO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_NOMBRES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEF_REFERENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEXTO_NOTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_CUENTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_LINEAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URBANIZACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URBANIZACION_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URBANIZACION_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USU_ASEG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
</xs:schema>