Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetTransactionScheduled" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetTransactionScheduled" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:complexType name="TransactionScheduledRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vstrAsesor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vstrCacDac" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vstrCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vstrCodInter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vstrCuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vstrEstado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vstrFDesde" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vstrFHasta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vstrTipoTran" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransactionScheduledRequest" nillable="true" type="tns:TransactionScheduledRequest" />
  <xs:complexType name="TransactionScheduledResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="ListTransactionScheduled" nillable="true" type="q2:ArrayOfTransactionScheduled" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionScheduledResponse" nillable="true" type="tns:TransactionScheduledResponse" />
</xs:schema>