Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetListScheduledTransactions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetListScheduledTransactions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:complexType name="ListScheduledTransactionsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Advisor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodeInteraction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdTransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameCACDAC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEndDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrStartDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserApp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListScheduledTransactionsRequest" nillable="true" type="tns:ListScheduledTransactionsRequest" />
  <xs:complexType name="ListScheduledTransactionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrectProcess" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="LstTransactions" nillable="true" type="q2:ArrayOfScheduledTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListScheduledTransactionsResponse" nillable="true" type="tns:ListScheduledTransactionsResponse" />
</xs:schema>