Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetInsertTransaction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetInsertTransaction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InsertTransactionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="oTransfer" nillable="true" type="q2:Transfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertTransactionRequest" nillable="true" type="tns:InsertTransactionRequest" />
  <xs:complexType name="InsertTransactionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="intNumSot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rintResCod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rstrResDes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertTransactionResponse" nillable="true" type="tns:InsertTransactionResponse" />
</xs:schema>