Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetValidateCustomerID" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetValidateCustomerID" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ValidateCustomerIdRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidateCustomerIdRequest" nillable="true" type="tns:ValidateCustomerIdRequest" />
  <xs:complexType name="ValidateCustomerIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactObjID" type="xs:int" />
      <xs:element minOccurs="0" name="FlgResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateCustomerIdResponse" nillable="true" type="tns:ValidateCustomerIdResponse" />
</xs:schema>