Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetPCRFConsultation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetPCRFConsultation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:complexType name="PCRFConnectorRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strAccountId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strLinea" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PCRFConnectorRequest" nillable="true" type="tns:PCRFConnectorRequest" />
  <xs:complexType name="PCRFConnectorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="bBono" type="xs:boolean" />
      <xs:element minOccurs="0" name="codRespuesta" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="listSuscriber" nillable="true" type="q2:Suscriber" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="listSuscriberQuota" nillable="true" type="q3:SuscriberQuota" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="listaSuscriberQuota" nillable="true" type="q4:ArrayOfSuscriberQuota" />
      <xs:element minOccurs="0" name="strMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strMensajeQuota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTelefonoLTE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PCRFConnectorResponse" nillable="true" type="tns:PCRFConnectorResponse" />
</xs:schema>