Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetReconeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetReconeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ReconeServiceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="GetReconection" nillable="true" type="q2:Reconection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReconeServiceRequest" nillable="true" type="tns:ReconeServiceRequest" />
  <xs:complexType name="ReconeServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolResult" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdTransaction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReconeServiceResponse" nillable="true" type="tns:ReconeServiceResponse" />
</xs:schema>