Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetServicesByInteraction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetServicesByInteraction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:complexType name="InteractionServiceRequestHfc">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="idInteraccion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InteractionServiceRequestHfc" nillable="true" type="tns:InteractionServiceRequestHfc" />
  <xs:complexType name="InteractionServiceResponseHfc">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="Services" nillable="true" type="q2:ArrayOfServiceByInteraction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteractionServiceResponseHfc" nillable="true" type="tns:InteractionServiceResponseHfc" />
</xs:schema>