Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService1715.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetComprarPaquetes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.GetComprarPaquetes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ComprarPaquetesMessageRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="comprarPaquetesBodyRequest" nillable="true" type="tns:comprarPaquetesBodyRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComprarPaquetesMessageRequest" nillable="true" type="tns:ComprarPaquetesMessageRequest" />
  <xs:complexType name="comprarPaquetesBodyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprarPaquetesRequest" nillable="true" type="tns:comprarPaquetesRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="comprarPaquetesBodyRequest" nillable="true" type="tns:comprarPaquetesBodyRequest" />
  <xs:complexType name="comprarPaquetesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="cargoFijo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cicloFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaOpcionalType" nillable="true" type="tns:ArrayOfComprarPaquetesListaOpcionalType" />
      <xs:element minOccurs="0" name="monto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paquete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planBase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="comprarPaquetesRequest" nillable="true" type="tns:comprarPaquetesRequest" />
  <xs:complexType name="ArrayOfComprarPaquetesListaOpcionalType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComprarPaquetesListaOpcionalType" nillable="true" type="tns:ComprarPaquetesListaOpcionalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComprarPaquetesListaOpcionalType" nillable="true" type="tns:ArrayOfComprarPaquetesListaOpcionalType" />
  <xs:complexType name="ComprarPaquetesListaOpcionalType">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComprarPaquetesListaOpcionalType" nillable="true" type="tns:ComprarPaquetesListaOpcionalType" />
  <xs:complexType name="ComprarPaquetes_x0020_BodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprarPaqueteResponseType" nillable="true" type="tns:comprarPaqueteResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComprarPaquetes_x0020_BodyResponse" nillable="true" type="tns:ComprarPaquetes_x0020_BodyResponse" />
  <xs:complexType name="comprarPaqueteResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="responseStatus" nillable="true" type="tns:responseStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="comprarPaqueteResponseType" nillable="true" type="tns:comprarPaqueteResponseType" />
  <xs:complexType name="responseStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseStatus" nillable="true" type="tns:responseStatus" />
</xs:schema>