Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService91.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.PostReconexionLte" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.PostReconexionLte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ReconexionLteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="ReconexionLte" nillable="true" type="q2:ReconexionLte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReconexionLteRequest" nillable="true" type="tns:ReconexionLteRequest" />
  <xs:complexType name="ReconexionLteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReconexionLteResponse" nillable="true" type="tns:ReconexionLteResponse" />
</xs:schema>