Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.PostSuspensionLte" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.PostSuspensionLte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd29" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="PostSuspensionLteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI" minOccurs="0" name="Suspension" nillable="true" type="q2:SuspensionLte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostSuspensionLteRequest" nillable="true" type="tns:PostSuspensionLteRequest" />
  <xs:complexType name="PostSuspensionLteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostSuspensionLteResponse" nillable="true" type="tns:PostSuspensionLteResponse" />
</xs:schema>