Claro.SIACU.Web.WebApplication.IFI/Service References/FixedIFIService/FixedIFIService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.PostExecuteSuspension" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed.PostExecuteSuspension" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" />
  <xs:import schemaLocation="http://localhost:53727/FixedIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ExecuteSuspensionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Fixed" minOccurs="0" name="Suspension" nillable="true" type="q2:Suspension" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteSuspensionRequest" nillable="true" type="tns:ExecuteSuspensionRequest" />
  <xs:complexType name="ExecuteSuspensionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultMethod" type="xs:boolean" />
      <xs:element minOccurs="0" name="idtrans" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteSuspensionResponse" nillable="true" type="tns:ExecuteSuspensionResponse" />
</xs:schema>