Claro.SIACU.ProxyService.IFI/Web References/ConsultaOpcionesAuditoriaWS/ConsultaOpcionesAuditoriaPortSB110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/baseschema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="parametrosType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="objetoOpcional">
        <xsd:complexType>
          <xsd:sequence />
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="auditResponseType">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="auditRequestType">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="ipAplicacion" type="xsd:string" />
      <xsd:element name="nombreAplicacion" type="xsd:string" />
      <xsd:element name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>