Claro.SIACU.Web.WebApplication.IFI/Service References/WirelessIFIService/WirelessIFIService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GenerateOCC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GenerateOCC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/WirelessIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="OCCRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="dcCustomerId" type="xs:decimal" />
          <xs:element minOccurs="0" name="dcMonto" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OCCRequest" nillable="true" type="tns:OCCRequest" />
  <xs:complexType name="OCCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OCCResponse" nillable="true" type="tns:OCCResponse" />
</xs:schema>