Claro.SIACU.Web.WebApplication.IFI/Service References/WirelessIFIService/WirelessIFIService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GetApadece" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GetApadece" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/WirelessIFIService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ApadeceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strMsisdn" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApadeceRequest" nillable="true" type="tns:ApadeceRequest" />
  <xs:complexType name="ApadeceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="monto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApadeceResponse" nillable="true" type="tns:ApadeceResponse" />
</xs:schema>