Claro.SIACU.Web.WebApplication.IFI/Service References/WirelessIFIService/WirelessIFIService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/WirelessIFIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GetTransactionScheduled" />
  <xs:import schemaLocation="http://localhost:53727/WirelessIFIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" />
  <xs:import schemaLocation="http://localhost:53727/WirelessIFIService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GenerateOCC" />
  <xs:import schemaLocation="http://localhost:53727/WirelessIFIService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GetApadece" />
  <xs:element name="GetListScheduledTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GetTransactionScheduled" minOccurs="0" name="request" nillable="true" type="q1:TransactionScheduledRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListScheduledTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GetTransactionScheduled" minOccurs="0" name="GetListScheduledTransactionsResult" nillable="true" type="q2:TransactionScheduledResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesactivatedContract_INT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Common" minOccurs="0" name="objRequest" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesactivatedContract_INTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDesactivatedContract_INTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GenerateOCC" minOccurs="0" name="objRequest" nillable="true" type="q4:OCCRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GenerateOCC" minOccurs="0" name="GenerateOCCResult" nillable="true" type="q5:OCCResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApadece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GetApadece" minOccurs="0" name="objRequest" nillable="true" type="q6:ApadeceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApadeceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.IFI.Wireless.GetApadece" minOccurs="0" name="GetApadeceResult" nillable="true" type="q7:ApadeceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>